/**
 * Copyright (C) 2016 Czech Technical University in Prague
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 * details. You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.top-buffer {
    margin-top: 100px;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#content {
    min-height: 100%;
    height: auto;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.btn {
    margin-right: 5px;
}

.underline {
    text-decoration: underline;
}

.container-fluid .text-muted {
    margin: 20px 0 20px 15px;
    vertical-align: sub;
}

.picker-container {
    position: relative;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.actions {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.large-modal {
    width: 80%;
    height: 80%;
    max-height: 90%;
}

.wizard-step {
    min-height: 650px;
}

.wizard-step-content {
    min-height: 600px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.content-center {
    text-align: center;
}

td.report-row {
    vertical-align: middle !important;  /* Use important to override bootstrap */
}

ul.autocomplete-results {
    margin-top: -15px;
    padding: 0.3em 0.5em 0.5em 0.5em;
    position: absolute;
    background-color: #ffffff;
    z-index: 100;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    list-style-position: inside;
    max-height: 500px;
    min-width: 200px;
    white-space: nowrap;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

ul.autocomplete-results.extended {
    height: 500px;
    overflow-y: scroll;
}

.autocomplete-results > .item {
    margin-top: 0.2em;
    margin-left: 0.2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.vertical-middle {
    vertical-align: middle;
}

td.actions {
    vertical-align: middle;
    text-align: center;
}

td.actions button {
    margin: 5px 5px 5px 5px;
}

.login-panel {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-panel.expanded {
    height: 260px;
}

.register-panel {
    width: 800px;
    height: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.register-panel.expanded {
    height: 345px;
}

.mask {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.6);
    z-index: 101;
}

/* This mask covers a container instead of the whole viewport */
.mask-container {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.6);
    z-index: 101;
}

.spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.spinner-container .spinner-message {
    color: #337ab7;
    font-size: 11px;
}

.dashboard-sector {
    text-align: center;
    vertical-align: middle;
    padding: 3em 0.5em;
}

.dashboard-sector-search {
    text-align: center;
    vertical-align: top;
    margin-top: -2.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dashboard-tile {
    min-height: 7em;
    width: 100%;
    max-width: 15em;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 6px;
    white-space: normal;
}

.dashboard-report-search {
    width: 350px;
    margin: 0 auto;
}

.dashboard-report-search-results {
    text-align: left;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.factors-gantt {
    width: 100%;
    height: 350px;
}

.gantt_container {
    border-radius: 3px;
}

.gantt-zoom {
    border: 1px solid #cecece;
    border-top: none;
    border-radius: 3px;
    overflow: hidden;
}

.gantt-zoom-label {
    margin: 10px 0;
}

/*.gantt_grid_head_add {*/
/*background-image: none;*/
/*cursor: default;*/
/*pointer-events: none;*/
/*}*/

.gantt-link-causes {
    background-color: #ff0000;
}

.gantt-link-contributes_to {
    background-color: #FFDE11;
}

.gantt-link-mitigates {
    background-color: #00ff00;
}

.gantt-link-prevents {
    background-color: #00A000;
}

/* Causes */
.gantt_task_link.gantt-link-causes .gantt_line_wrapper div {
    background-color: #ff0000;
}

.gantt_task_link.gantt-link-causes:hover .gantt_line_wrapper div {
    box-shadow: 0 0 10px 0 #ff0000;
}

.gantt_task_link.gantt-link-causes .gantt_link_arrow_right {
    border-left-color: #ff0000;
}

.gantt_task_link.gantt-link-causes .gantt_link_arrow_left {
    border-right-color: #ff0000;
}

/* Contributes to */
.gantt_task_link.gantt-link-contributes .gantt_line_wrapper div {
    background-color: #FFDE11;
}

.gantt_task_link.gantt-link-contributes:hover .gantt_line_wrapper div {
    box-shadow: 0 0 10px 0 #FFDE11;
}

.gantt_task_link.gantt-link-contributes .gantt_link_arrow_right {
    border-left-color: #FFDE11;
}

.gantt_task_link.gantt-link-contributes .gantt_link_arrow_left {
    border-right-color: #FFDE11;
}

/* Mitigates */
.gantt_task_link.gantt-link-mitigates .gantt_line_wrapper div {
    background-color: #00ff00;
}

.gantt_task_link.gantt-link-mitigates:hover .gantt_line_wrapper div {
    box-shadow: 0 0 10px 0 #00ff00;
}

.gantt_task_link.gantt-link-mitigates .gantt_link_arrow_right {
    border-left-color: #00ff00;
}

.gantt_task_link.gantt-link-mitigates .gantt_link_arrow_left {
    border-right-color: #00ff00;
}

/* Prevents */
.gantt_task_link.gantt-link-prevents .gantt_line_wrapper div {
    background-color: #00A000;
}

.gantt_task_link.gantt-link-prevents:hover .gantt_line_wrapper div {
    box-shadow: 0 0 10px 0 #00A000;
}

.gantt_task_link.gantt-link-prevents .gantt_link_arrow_right {
    border-left-color: #00A000;
}

.gantt_task_link.gantt-link-prevents .gantt_link_arrow_left {
    border-right-color: #00A000;
}

/* Overriding bootstrap primary panel border color */
.panel-primary {
    border-color: #bce8f1;
}

.float-right {
    float: right;
}

.factor-occurrence-event {
    font-size: 110%;
    font-weight: bold;
    background-color: #286090;
    border: 1px solid #204d74;
}

.factor-event-type {
    background-color: #777;
    border: 1px solid #666;
}

.factor-descriptive-factor {
    background-color: #449d44;
    border: 1px solid #398439;
}

ul.event-type {
    list-style-type: none;
}

.autocomplete-results-item {
    margin-bottom: 0.25em;
    margin-right: 0.3em;
    display: inline-block;
    vertical-align: middle;
}

.event-type-label {
    display: inline-block;
    margin-top: 0.8em;
}

.notice-small {
    font-size: 86%;
    font-style: italic;
}

.report-type-icon {
    width: 24px;
    height: 24px;
}

.selected-revision {
    text-decoration: underline;
    font-weight: bold;
    color: #337ab7;
}

.filter td {
    color: #31708f;
    background-color: #d9edf7;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bce8f1;
    border-radius: 3px 3px 0 0;
    padding: 3px 3px 3px 3px !important;
    text-align: center;
}

.filter-label {
    margin-top: 6px;
    margin-right: 0.5em;
}

.no-reports-notice {
    margin-top: 1em;
}

button.reset-filters {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.filter td select {
    margin-bottom: -15px !important;
}

.external-link {
    display: block;
    content: url('../images/icons/external.png');
    width: 16px;
    height: 16px;
    margin-top: 28px;
    margin-left: -20px;
    vertical-align: bottom;
}

.external-link-factor-detail {
    margin-top: 7px;
}

.external-link-gantt {
    content: url('../images/icons/external.png');
    width: 16px;
    height: 16px;
    margin-top: 0.7em;
}

.table-sorter-wrapper {
    position: relative !important;
}

.table-sorter-icon {
    position: absolute;
    right: 0.5em;
    line-height: 14px;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    top: 50%;
    cursor: pointer;
}

.dropzone {
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border: 2px dashed #adadad;
    min-height: 7.5em;
    width: 100%;
    max-width: 20em;
    padding: 10px 16px;
    line-height: 1.3;
    cursor: pointer;
    display: inline-block;
}

.dropzone-active {
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border: 2px solid #adadad;
    min-height: 7.5em;
    width: 100%;
    max-width: 20em;
    padding: 10px 16px;
    line-height: 1.3;
    cursor: pointer;
    display: inline-block;
}

.dropzone .message {
    margin: 2em 0 1.3em 0;
    vertical-align: bottom;
}

.import-error {
    margin: 15px 15px -35px 15px;
}

.paging-item-count-info {
    margin-top: -1.2em;
    margin-bottom: 1.2em;
}

/* ARMS */
/* Set it to important so it does not get overridden by the readOnly background color*/
.arms-index-green {
    background-color: rgba(68, 157, 68, 0.3) !important;
}

.arms-index-yellow {
    background-color: rgba(236, 151, 31, 0.3) !important;
}

.arms-index-red {
    background-color: rgba(217, 83, 79, 0.3) !important;
}

.statistics-frame {
    width: 100%;
    min-height: 58em;
    border: 1px solid #cecece;
    border-radius: 3px;
}
